/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COMMON */

body {
    font-family: 'PT Sans', sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.mobile-padding {
    padding-left: 2rem;
    padding-right: 2rem;
}

/* END COMMON */


/* HEADER */

header {
    height: 5rem;
    background-color: #0084fd;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.main-menu {
    display: none;
}

/* END HEADER */


/* MAIN */

section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.intro-columns {
    display: flex;
    flex-wrap: wrap;
}

.intro-col {
    width: 100%;

    /* test */
    border: 1px solid red;
}

.strategy-col {

    /* test */
    border: 1px solid red;
}

/* END MAIN */

/****************** MEDIA QUERY ******************/

 /* TEST per inspector breakpoints */
@media screen and (min-width: 480px) {
}

/*----------------- TABLET ----------------- */

@media screen and (min-width: 768px) {

    /* MAIN */

    .intro-columns {
        margin-left: -1rem;
        margin-right: -1rem;  
    }

    .intro-col {
        width: calc(100% / 3);
        padding:  0 1rem;
    }

    .intro-col:first-child {
        width: calc((100% / 3) * 2);
    }
}

/*----------------- DESKTOP ----------------- */

@media screen and (min-width: 992px) {

    /* HEADER */

    .burger-button {
        display: none; 
    }

    .main-menu {
        display: block;
    } 
    
    .strategy-columns {
        display: flex;
    }
}