/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COMMON */

body {
    font-family: 'PT Sans', sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

h2 {
    text-align: center;
    padding: 1rem 0;
}

.btn-small {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    display: inline-block;
}

.btn-large {
    padding: 0.5rem 3rem;
    border-radius: 20px;
    display: inline-block;
}


/* Utility */
.mobile-padding {
    padding-left: 2rem;
    padding-right: 2rem;
}

.padding-bottom {
    padding-bottom: 2rem;
}

.italic {
    font-style: italic;
}

.font-size {
    font-size: 2rem;
}

.align-left {
    text-align: left;
}

/* END COMMON */


/* HEADER */
header {
    height: 5rem;
    background-color: #0084fd;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.main-menu {
    display: none;
}

header ul {
    list-style-type: none;
    display: flex;
}

li {
    padding-left: 1.5rem;
}

li:last-child {
    padding-left: 2rem;
}

li:last-child a {
    background-color: white;
    color: black;
}
/* END HEADER */


/* MAIN */
section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* Intro section */

.intro-columns {
    display: flex;
    flex-wrap: wrap;
}

.intro-col {
    width: 100%;
    padding-bottom: 1rem;
}

.intro-col .btn-large {
    background-color:#0e84fd;
    color: white;
    margin-bottom: 2rem;
}

.double-col {
    text-align: center;
}

.double-col-container,
.single-col {
    border-radius: 20px;  
    padding-top: 2rem;  
}

.double-col-container,
.single-col {
    background-color:#b5ddff;  
}

.double-col img {
    padding-top: 2rem;
    display: block;
    padding-left: 6rem;
}

.intro-columns h2,
.icon {
 color: #0e84fd;
 padding: 1rem;
 text-align: center;
}

.intro-columns .text {
    padding: 0 2rem 3rem 2rem;
    color: #70899f;
    font-weight: 700;
}

.intro-columns .btn-large {
    font-weight: 700;
}

.intro-columns span {
    padding-right: 0.6rem;
}

/* Strategy section */

#planning {
    background-color:#9792e4 ;
    color: white;
}

.white-container {
    background-color: white;
    color: black;
    border-radius: 50px;
    text-align: center;
}

.strategy-col img {
    padding-top: 2rem;
}

.btn-arrow {
    background-color:#9792e4;
    display: inline-block;
    padding: 1rem 1.4rem;
    border-radius: 50px;
    margin: 2rem 0;
}
/* Testimonials section */

#testimonials {
    font-size: 1.2rem;
    text-align: center;
}

.top-testimonials h3 {
    color: #9792e4;
    font-size: 2rem;
    padding: 2rem 0;
}

.review-card img {
    width: 18rem;
    border-radius: 20%;
}

.review-card {
    background-color: #9792e4;
    color: white;
    text-align: center;
    /* test */
    border: 1px solid red;
}

.author {
    padding: 1.5rem;
    font-size: 1.2rem;
    font-weight: 700;
}

/* Benefits Section */

.benefits-card {
    padding: 1rem;
    /* test */
    border: 1px solid red
}

/* About Us Section */

.aboutus-col {
    /* test */
    border: 1px solid red
}

/* Get Started Section */

.getstarted {
    /* test */
    border: 1px solid red
}
/* END MAIN */


/* FOOTER */
footer {
    height: 10rem;
    background-color: #333333;
    color: white;
}
/* END FOOTER */

/********************** MEDIA QUERY **********************/

 /* TEST per inspector breakpoints */
@media screen and (min-width: 480px) {
}


/* ----------------- TABLET ----------------- */

@media screen and (min-width: 768px) {

    /* MAIN */
    /* Intro section */

    .intro-columns {
        margin-left: -1rem;
        margin-right: -1rem;  
    }

    .intro-col {
        width: calc(100% / 3);
        padding: 1rem;
    }

    .intro-col:first-child {
        width: calc((100% / 3) * 2);
    }


    /* Strategy section */

    .font-size {
        font-size: 3rem;
    }


    /* Testimonials Section */

    .review-card {
        display: flex;
    }

    /* Benefits Section */

    .benefits-cards-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .benefits-card {
        width: 50%;
    }

    /* About Us Section */

    .aboutus-columns {
        display: flex;
    }

    /* Get Started Section */
    .getstarted {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    /* END MAIN */


    /* FOOTER */
    footer .container {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    /* END FOOTER */
}

/* ----------------- DESKTOP ----------------- */

@media screen and (min-width: 992px) {

    /* HEADER */
    .burger-button {
        font-size: 100px;
        display: none; 
    }

    .main-menu {
        display: block;
    } 
    /* END HEADER */


    /* MAIN */

    /* Intro Section */

    .double-col-container {
        display: flex;
        align-items: flex-end;
    }
    
    .double-col {
        width: 50%;   
    }

    /* Strategy Section */

    .strategy-columns {
        display: flex;
    }

    /* Benefits Section */

    .benefits-card {
        width: calc(100% / 3);
    }
    /* END MAIN */
}